/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  height: 1000px;
}

nav {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  box-shadow: 1px 1px 1px 1px #888888;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav .nav-left {
  margin-left: 50px;
  align-items: center;
  display: flex;
}

nav .nav-left a {
  margin-right: 50px;
}

nav .nav-left a img {
  width: 50px;
}

nav .nav-left a:hover {
  font-weight: bolder;
}

nav .nav-left .active {
  color: orangered;
}

nav .nav-right a {
  margin-right: 50px;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
}

nav .nav-right a:hover {
  background-color: rgb(255, 0, 0);
}

/* Section */
.container {
  max-width: 1000px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin: 90px auto;
  display: flex;
  padding: 50px;
}

.container .left-card {
  flex: 60%;
}

.container .right-card {
  flex: 40%;
  margin-left: 20px;
}

.container .right-card .card-profile {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgb(115, 115, 115);
  border-radius: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.right-card .card-profile img {
  width: 100%;
  border-radius: 15px 15px 0px 0;
}

.container .left-card .download {
  display: flex;
  align-items: center;
}

.download a {
  margin-right: 20px;
}

.download .btn-contact {
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
}

.download .btn-contact:hover {
  background-color: rgb(255, 0, 0);
}

.download .fa-download {
  margin-left: 10px;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  font-size: 40px;
  margin-right: 20px;
}

/* Humburger Menu */

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 24px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a,
.container-contact-humburger
 {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.hamburger-nav-container .btn-contact-humburger {
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  width: 10%;
  margin: 0 auto;
  margin-top: 5px;
}

.hamburger-nav-container .hamburger-active,
.hamburger-nav-container .container-contact-humburger .active 
{
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .left-card {
    width: 100%;
  }

  .left-card .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-card .social-media a i {
    margin: 10px;
  }

  #barsmenu {
    display: flex;
  }

  .nav-left .collapse {
    display: none;
  }

  .nav-right .contact-me {
    display: none;
  }

  nav {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  nav .nav-left {
    margin-left: 0px;
  }

  .hamburger-nav-container .btn-contact-humburger {
    width: 20%;
  }

  @media only screen and (max-width: 720px) {
    .hamburger-nav-container .btn-contact-humburger {
      width: 30%;
    }
  }

  @media only screen and (max-width: 500px) {
    .hamburger-nav-container .btn-contact-humburger {
      width: 40%;
    }
  }
}
